.festival-div {
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
    max-width: 100%
}

.festival-div-header {
    padding: 20px;
    width: 100%;
    background-color: rgba(255, 160, 124, 0.8);
    color: white;
    border-top: solid 1px;
    border-bottom: solid 1px;
    font-family: 'Amatic SC', cursive;
    text-shadow: 4px 4px 2px black;
    font-size: 50px;
    position: absolute;
    top: 125px;
}