.festival-div {
    position: absolute;
    top: 120px;
    max-width: 71.4%;
}

.festival-div-header {
    padding: 20px;
    border-radius: 10px;
    border: 3px double white;
    background-color: rgba(255, 160, 124, 0.8);
    color: white;
    font-family: 'Merienda', cursive;
    text-shadow: 4px 4px 2px black;
    font-size: 40px;
    position: absolute;
    top: 50px;
    margin-left: 30px;
}