.festival-btn {
    width: 140px;
    height: 65px;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    color: white;
    background-color: #ffa07c;
    border: 3px double white;
    font-weight: bold;
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 520px;
}

.festival-btn:hover {
    background-color: #cc8063
}

.festival-btn-container {
    margin-left: 50%;
    transform: translateX(-50%);
}