.user-info-div {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 160, 124, 0.6);
    margin: 15px;
    border: 3px double rgb(232, 107, 72);
    border-radius: 10px
}

h3 {
    margin: 20px
}

.UIheader {
    background-color: rgba(33, 129, 255, 0.6);
    border-radius: 10px;
    border: 3px double rgb(232, 107, 72);
    padding: 20px;
    position: absolute;
    margin-top: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 20px;
    color: white;
    font-family: 'Merienda', cursive;
    text-shadow: 4px 4px 2px black;

}

.first-p-content {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 130px;
    height: 100%;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color:rgba(33, 129, 255, 0.6);
    
    border-top: 3px double black;
    border-bottom: 3px double black;
}

.find-festivals-div {
    background-image: url('./login-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 415px;
    width: 350px;
    height: 350px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center
}