.error-modal {
   background-color: #ffa07c;
   color: white;
   font-family: 'Merienda', cursive;
   border: 3px double white;
   border-radius: 25px;
   display: flex;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-align-content: center;
   align-content: center;
   text-align: center;
   margin: 1%;
}

.ErrorButton {
   width: 40%;
   height: 45px;
   border-radius: 25px;
   font-size: 15px;
   font-family: 'Merienda', cursive;
   color: white;
   background-color: #ffa07c;
   border: 3px double white;
   font-weight: bold;
   margin-left: 50%;
   margin-top: 5%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);  
}