.error-modal {
   background-color: white;
   color: black;
   font-family: 'Amatic SC',
   cursive;
   border: 3px black;
   display: flex;
   font-weight: bold;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-align-content: center;
   align-content: center;
   text-align: center;
   margin: 1%;
}

.ErrorButton {
   width: 40%;
   height: 45px;
   border-radius: 25px;
   font-size: 20px;
   font-family: 'Amatic SC',
   cursive;
   color: black;
   background-color: white;
   border: 3px single black;
   font-weight: bold;
   margin-left: 50%;
   margin-top: 5%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);  
}