.header-holder {
    border: 3px double rgb(232, 107, 72);
    background-image: url('./userview-header.jpg');
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center
}



.logo-for-header {
    width: 200px;
    height: 200px;

}

.logo-holder {
    flex: 1
}