.form-div {
    position: absolute;
    position: absolute;
    background-color: rgba(33, 129, 255, 0.8);
    outline: 1px solid white;
    width: 500px;
    display: flex;
    /* margin-top: 15px; */
    padding:1%;
    
}

.login-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.submit-btn-div {
    margin-left: 50%;
    transform: translateX(-50%);
}

#email-text {
    width: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'Amatic SC',
    cursive;
    color: white;
    text-shadow: 4px 4px 2px black;
    text-align: center
}

input {
    margin-left: 50%;
    transform: translateX(-50%);
    height: 40px;
    font-size: 20px;
    border: 3px double #e86b48;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(33, 129, 255)
}

#submit-btn {
    width: 140px;
    height: 65px;
    border-radius: 30px;
    font-size: 30px;
    font-family: 'Amatic SC',
    cursive;
    color: white;
    background-color: #e86b48;
    border: 3px double white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.login-form-holder {
    background-color: rgba(232, 107, 72, 0.7);
    box-sizing: border-box;
    border: 1px solid white;
    outline: 1px solid white;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 225%;
}

.signup-text {
    font-family: 'Amatic SC',
    cursive;
    color: white;
    font-size: 25px;
    text-align: center;
    text-shadow: 4px 4px 2px black;
    margin: 0
}

.register-btn-div {
    margin-left: 50%;
    transform: translateX(-50%)
}

#register-btn {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5%;
    width: 100px;
    height: 40px;
    background-color : rgb(33, 129, 255);
    color: white;
    font-size: 20px;
    font-family: 'Amatic SC',
    cursive;
    padding: 5px;
    border-radius: 30px;
    border: double 3px white
}