.logo {
    width: 300px
}

.match-header {
    background-image: url('./header-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 2px 2px 2px black;
    
}